body {
  background-color: rgb(50, 50, 50);
  opacity: 0.75;
}

#title {
  margin: 0;
}

#content-container {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}

#rgb-color {
  font-size: 1.25em;
}

.ball {
  border: 1px solid black;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.ball:hover {
  cursor: pointer;
  border: 1px dashed black;
}

#botoes1 {
  margin-bottom: 10px;
}

.button {
  background-color: rgb(5, 56, 107);
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  height: 30px;
  width: 150px;
}

.button:hover {
  cursor: pointer;
}
